.btn-danapay-primary {
  background-color: #ffffff;
  border-radius: 10px;
  font-size: 20px;
  color: #000000;
  box-shadow: 20 20 20 20;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-color: #ffffff;
}

.btn-danapay-primary:active {
  background-color: #f2f2f2;
  border-radius: 10px;
  font-size: 20px;
  color: #000000;
  box-shadow: 20 20 20 20;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-color: #ffffff;
}

.btn-danapay-primary:hover {
  background-color: #f2f2f2;
  border-radius: 10px;
  font-size: 20px;
  color: #000000;
  box-shadow: 20 20 20 20;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-color: #ffffff;
}

.btn-danapay-black {
  background-color: #000000;
  border-radius: 10px;
  font-size: 20px;
  color: #ffffff;
  box-shadow: 20 20 20 20;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-color: #000000;
}

.btn-danapay-black:hover {
  background-color: #000000;
  border-radius: 10px;
  font-size: 20px;
  color: #ffffff;
  box-shadow: 20 20 20 20;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-color: #000000;
}

.btn-danapay-black:hover {
  background-color: #000000;
  border-radius: 10px;
  font-size: 20px;
  color: #ffffff;
  box-shadow: 20 20 20 20;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-color: #000000;
}

.dropdown-danapay {
  width: 100%;
  height: 55px;
  overflow: visible;
  background-color: rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  font-family: "Inter", sans-serif;
  color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
  letter-spacing: 0px;
  line-height: 1.2;
  border-color: rgba(0, 0, 0, 0.07);
}

.dropdown-danapay:hover {
  width: 100%;
  height: 55px;
  overflow: visible;
  background-color: #f2f2f2;
  border-radius: 10px;
  font-family: "Inter", sans-serif;
  color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
  letter-spacing: 0px;
  line-height: 1.2;
  border-color: rgba(0, 0, 0, 0.07);
}

.input-danapay {
  width: 100%;
  height: 55px;
  overflow: visible;
  background-color: rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  font-family: "Inter", sans-serif;
  color: rgba(0, 0, 0, 0.5);
  font-size: 15px;
  letter-spacing: 0px;
  border-color: rgba(0, 0, 0, 0.07);
}

.text-small-danapay-simulator {
  width: 174px;
  height: 19px;
  overflow: hidden;
  font-family: "Inter", sans-serif;
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 1.2;
}

.text-medium-danapay-simulator {
  font-family: "Inter-Bold", "Inter", sans-serif;
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 1.2;
  font-weight: 700;
  text-align: left;
}

.text-big-danapay-simulator {
  font-family: "Inter-Bold", "Inter", sans-serif;
  color: #4bbee7;
  font-size: 30px;
  letter-spacing: 0px;
  line-height: 1.2;
  font-weight: 700;
}

.text-title-danapay {
  overflow: hidden;
  font-family: "Inter-Bold", "Inter", sans-serif;
  color: #000000;
  font-size: 30px;
  letter-spacing: 0px;
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
}

.text-description-danapay {
  overflow: hidden;
  font-family: "Inter-Bold", "Inter", sans-serif;
  color: #000000;
  font-size: 25px;
  letter-spacing: 0px;
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
  /*margin-bottom: 20px;*/
}

.text-blue-title-danapay {
  overflow: hidden;
  font-family: "Inter-Bold", "Inter", sans-serif;
  color: #4bbee7;
  font-size: 30px;
  letter-spacing: 0px;
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
}

.text-subtitle-danapay {
  font-family: "Inter", sans-serif;
  color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
  letter-spacing: 0px;
  line-height: 1.2;
  text-align: center;
}

.panel-gray-danapay {
  overflow: visible;
  background-color: rgba(0, 0, 0, 0.06);
  padding-top: 40px;
  padding-bottom: 60px;
}

.panel-transparent-danapay {
  overflow: visible;
  background-color: rgb(250,250,250);
  padding-top: 40px;
  padding-bottom: 60px;
}

.testimonial-danapay {
  overflow: hidden;
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.06);
  background-color: #ffffff;
  border-radius: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.testimonial-text-danapay {
  overflow: hidden;
  font-family: "Inter", sans-serif;
  color: rgba(0, 0, 0, 0.5);
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 1.2;
  text-align: left;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.testimonial-name-danapay {
  overflow: hidden;
  font-family: "Inter-Bold", "Inter", sans-serif;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0px;
  line-height: 1.2;
  font-weight: 700;
}

.testimonial-role-danapay {
  overflow: hidden;
  font-family: "Inter-Light", "Inter", sans-serif;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0px;
  line-height: 1.2;
  font-weight: 300;
}

.calltoaction-danapay {
  margin-top: 40px;
  text-align: center;
}

.panel-title {
  text-align: center;
}

.panel-subtitle {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.user-experience-step-danapay {
  overflow: visible;
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.06);
  background-color: #ffffff;
  border-radius: 20px;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}

.user-experience-step-text-danapay {
  overflow: hidden;
  font-family: "Inter", sans-serif;
  color: rgba(0, 0, 0, 0.5);
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 1.2;
}

.box-image-danapay {
  overflow: visible;
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.06);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
  text-align: center;
}

.box-white-danapay {
  overflow: visible;
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.06);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
  text-align: center;
  background-color: #ffffff;
}

.box-gray-danapay {
  overflow: visible;
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.06);
  background-color: #e7e8e9;
  border-radius: 20px;
  text-align: center;
  padding-top: 40px;
}

.text-subdescription-danapay {
  overflow: hidden;
  font-family: "Inter", sans-serif;
  color: #000;
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 1.2;
}

.footer-top-danapay {
  overflow: visible;
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 20px;
  margin-left: 10%;
  margin-right: 10%;
}

.footer-bottom-danapay {
  overflow: visible;
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 40px;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 10px;
}

.footer-menu-title-danapay {
  overflow: hidden;
  font-family: "Inter", sans-serif;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0px;
  line-height: 1.2;
  font-weight: bold;
  margin-top: 25px;
}

.footer-menu-item-danapay {
  overflow: hidden;
  font-family: "Inter", sans-serif;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0px;
  line-height: 1.2;
  margin-top: 15px;
}

